/* Reset some default browser styles */
body, h1, h2, h3, h4, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: rgb(105, 105, 105);
    
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #9a2700;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0 10px;
}

header ul {
    list-style: none;
    padding: 0;
}

header ul li {
    display: inline;
}

.hero {
    background: url('./and-machines-eN4JvOsfwYE-unsplash.jpg') no-repeat center center/cover;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    color: #fff;
    background: #690000;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background: #555;
    transform: scale(1.05);
}
.f{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.p{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.c{
    border: 1px solid black;
    padding: 20px;
}

.features, .pricing, .contact {
    padding: 50px 0;
    text-align: center;
}

.features h3, .pricing h3, .contact h3 {
    font-size: 32px;
    margin-bottom: 20px;
}

.feature-box, .pricing-box {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feature-box h4, .pricing-box h4 {
    font-size: 24px;
    margin-bottom: 10px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}

footer .social a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    text-transform: uppercase;
}

footer .social a:hover {
    text-decoration: underline;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact form label {
    margin-top: 10px;
}

.contact form input, .contact form textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact form button {
    margin-top: 20px;
}

